<div class="caption-container">
    <a class="caption" href="{{url}}" target="_blank">
    <div class="image-wrapper">
        <img src="{{insert_image_url}}"
            alt="{{title}}"
            title="{{title}}"
            class="img-polaroid"
        <div class="desc">
            <p class="desc_content">{{title}}</p>
        </div>
    </div>
    </a>
</div>
<div style='clear:both'></div>